:root{
    --header: #48484a;
    --textColor: #f2f2f2;
    --textColor1: #48484a;
    --textColor2: #eb6e4b;
    --background: rgba(242, 242, 242, 0.6);
    --color1: #EB6E4B;
}



/* GENERAL STYLE  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
    scrollbar-width: none;
}
body{
    height: 1500px;
}

.middle-content{
    width: 900px;
    margin: 0 auto;
}
.generalUpButton{
    position: fixed;
    bottom: 5px;
    right: 5px;
    background-color: var(--textColor1);
    padding: 10px 15px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease;
}
/* HEADER CONTENT STYLE */

header{
    background-color: var(--header);
    height: 58px;
    display: flex;
    align-items: center;
    padding: 5px 30px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.logo img{
    width: 100px;
    cursor: pointer;
}
.navContent,.navLinks{
    display: flex;
    align-items: center;
}
/* DROPDONW LIST STYLE */

.support-dropdown{
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.dropdownlist{
    width: max(140px);
    background-color: white;
    position: absolute;
    margin-top: 10px;
    left: -30px;
    border-radius: 10px;
    transition: 0.2s ease;
    display: none;
}
.show{
    display: block;
}
/* .support-dropdown:hover  .dropdownlist{
    display: block;
} */
.dropdownlinks{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
}
.dropdownlist::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    position: absolute;
    top: -20px;
    right: 65px;
    border-color:  transparent transparent white transparent;
}
.dropdownlinks a{
    color: var(--textColor1) !important;
    padding: 10px  15px !important;
    font-size: 14px;
    font-weight: 100;
    display: block;
}
.dropdownlinks a:hover{
    background-color: gray;
    color: white !important;
}
/* ---------- */
.search-content i{
    color: white;
}
.search-content input{
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--textColor);
    margin-left: 5px;
    padding: 2px 5px;
    max-width: 140px;
}
.search-content input:focus{
    border-bottom: 0.1px solid white;
}
.navLinks a {
    padding: 0 12px;
    font-family: sans-serif;
    text-decoration: none;
    color: var(--textColor);
    font-weight: 100;
    font-size: 14px;
}
.navLinks a.active{
    background-color: var(--background);
    padding: 8px;
    border-radius: 20px;
    text-shadow: 0 0  2px black;
}

/* MAIN STYLE */

main{
    height: calc(100vh) - 58px;
    margin-top: 58px;
}

.welcomeImg{
    background-image: url("/openWeatherClone_1/img/summer_banner.jpg");
    background-position: center;
    background-size: cover;
    height: 298.5px;
    display: flex;
    align-items: center;
}
.middle-content h1{
    margin-bottom: 25px;
    font-size: 2.6rem;
    color: var(--color1);
}
.middle-content h3{
    font-size: 1.6rem;
    width: 450px;
    line-height: 30px;
    font-weight: 500;
}

/* SEARCH CONTENT */

.search-city{
    background-color: var(--textColor);
    height: 75px;
    display: flex;
    align-items: center;
}
.search-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-wrap{
    display: flex;
}
.search-wrap button{
    border: none;
    padding: 0 10px;
    color: var(--textColor);
    background-color: var(--header);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.search-wrap input{
    width: 380px;
    border: none;
    border-right:none ;
    padding: 10px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}
.differentLocation{
    display: flex;
    align-items: center;
    gap: 10px;
}
.differentLocation i,
.differentLocation span,
.differentLocation .selectTempMis{
    font-size: 10px;
    padding: 10px ;
    border-radius: 5px;
    cursor: pointer;
}
.differentLocation span,
.differentLocation .selectTempMis{
    background-color: lightgrey;
}
.differentLocation i:hover{
    background-color: white;
}
.differentLocation span:hover{
    background-color: white;
}


/* BIG DATA STYLE CODING */

.big-data-temp{
    height: calc(100vh) - 58px;
    background-color: white;
}
.first-cont{
    display: flex;
    height: 253px;
    padding: 25px 0;
}
.temp-details{
    width: 40%;
}
.maps-details{
    width: 60%;
}
/* IMAGE STYLE FOR TEMP DATA */
.temperature img{
    width: 40px;
}
 .maps-details img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 2px;
    box-shadow: 0 1px 1px gray;
    border: none;
    cursor: pointer;
} 

/*  ------- */
.city-and-data{
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
.city-and-data .data{
    color: var(--color1);
    font-size: 13px;
    font-weight: 300;
}
.city-and-data .city-name{
    font-weight: bold;
    color: var(--textColor1);
    font-size: 25px;
    font-weight: 600;
}
.temperature {
    display: flex;
    align-items: center;
    gap: 10px;
}
.temperature .temp-num{
    font-size: 35px;
    color: var(--textColor1);
    font-weight: 500;
}
.details{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.weather-alert{
    background-color: orangered;
    padding: 8px 8px;
    width: max-content;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
    cursor: pointer;
} .weather-alert span{
    background-color: white;
    color: orangered;
    padding: 2.5px;
    border-radius: 5px;
}
.details > span {
    font-weight: 600;
    color: var(--textColor1);
    font-size: 14px;
    margin-top: 10px;
}
.weather-items-text{
    border-left: 1px solid black;
    height: 60px;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 0 15px;
    margin-top: 5px;
    color: var(--textColor1);
}

/* SECOND PART  */
.second-cont{
    display: flex;
    height: 353px;
    margin-top: 20px;
    gap: 25px;
}
.forecast-canva{
    width: 50%;
}.forecast-canva span{
    font-size: 18px;
    font-weight: 600;
    color: var(--textColor1);
}
.scroll-canva{
    width: 100%;
    height: auto;
    overflow: scroll;
    border-radius: 10px;
}
.scroll-canva img{
    width: auto;
    height: 300px;
    box-sizing: border-box;
    border-radius: 10px;
}
.day-forecast{
    width: 50%;
    overflow: hidden;
}.day-forecast span{
    font-size: 18px;
    font-weight: 600;
    color: var(--textColor1);
}

/* LISTA STYLE */
.day-list{
    line-height: 10px;
    overflow-x: scroll;
    text-align: center;
}
.day-list li{
    list-style: none;
    padding: 5px 0;
    cursor: pointer;
}
.day-list .list-day, .day-list .temp{
    font-size: 14px;
    color: var(--textColor1);
}
.day-list span{
    font-size: 12px;
    font-weight: 300;
}
.day-list i img{
    width: 27px;
}
.day-list li:hover{
    background-color: lightgrey;
}

/* BRAND STYLE CONTENT */
.brand{
    background-color: var(--textColor);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.brand-scroll{
    display: flex;
    overflow: scroll;
    height: inherit;
    padding: 40px;
}
.brand-scroll img{
    width: auto;
    height: auto;
    padding: 10px;
    filter: grayscale(1);
}
.brand-animation img{
    animation-name: scroll;
    animation-timing-function: ease;
    animation-duration: 25s;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    from{
        transform: translateX(-290px);
    }
    to{
        transform: translateX(840px);
    }
}
/* ------ */

.alert-red{
    background-color: orangered;
    padding: 10px 40px;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    height: 90px;
    display: flex;
    align-items: center;
}

/* CALL API STYLE */
.api-details{
    background-color: white;
    padding: 35px 0;
}
.api-container{
    display: flex;
}
.api-container div{
    width: 50%;
}
.api-container .desk-only{
    width: 50%;
}
.api-container .desk-only img{
    width: 350px;
}
.head .orange-txt{
    font-size: 14px;
    font-weight: 400;
    color: orange;
}
.head h1{
    font-size: 25px;
    font-weight: 500;
    color: var(--textColor1);
    margin-top: 5px;
}
.api-container div p{
    font-weight: 300;
    line-height: 20px;
    font-size: 1rem;
}
/* API TABLE STYLE */

.API-tab table th{
    font-size: 12px;
    font-weight: 600;
    color: lightpink;
    font-weight: 600 !important;    
    padding: 5px 0;
    text-align: start;  

}table, th, td {
    border-collapse: collapse;
}
.API-tab table tr,
.API-tab table td{
    border-bottom: 1px solid var(--textColor1);
    font-size: 12px;
    font-weight: 300;
    text-align: start;    
    padding: 5px 0;
}

/* SECTION STYLE CODES */

.section{
    padding: 30px 0;
}
.section-txt .big{
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}.big span{
    color: var(--textColor1);
}.section-txt{
    color: white;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 30px;
}


.section-dettails-in-img{
    display: flex;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}
.first-dettail {
    padding: 20px;
    font-size: 13px;
    font-weight: 400;
    color: white;
}.first-dettail i{
    border: 2px solid white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    color: white;
    border-color: blue white yellow white;
}
.note{
    line-height: 30px;
}
.note span:not(b){
    font-size: 14px;
    font-weight: 300;
    color: white;
}
.note div button{
    padding: 10px 15px;
    border: 1px solid var(--header);
    color: var(--header);
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer;
}

/* MORE DETTAILS STYLE */
.more-details{
    height: calc(100vh)- 58px;
}
.more-details * img{
    width: 100%;
    height: 190px;
}
.txtdetailone{
    display: flex;
    background-color: white;
    padding: 30px 0;
}
.first-txt-details p{
    font-size: 1rem;
    font-weight: 300;
    line-height: 30px;
    color: var(--textColor1);
}
.second-txt-details span{
    color: #EB6E4B;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.second-txt-details h2 , .second-txt-details h2 span{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--textColor1);
    margin-bottom: 10px;
}
.txtdtailtwo{
    background-color: var(--textColor);
    padding: 30px 0;
}
.txtdtailtwo div.middle-content{
    display: flex;
}
.second-two-details{
    color: var(--textColor1);
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 30px;
}
.how-obtain-details{
    margin-top: 10px;
    padding: 30px 0 20px 15px;
    font-size: 1rem;
    border-left: 1px solid var(--textColor1);
    max-width: 400px;
}